<!doctype html>
<html data-ng-app>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="AlgebraThing.css">
<link type="text/css" rel="stylesheet" href="bootstrap.css">


<!-- External Scripts -->
<script type='text/javascript' src='scripts/angular.min.js'></script>
<script type='text/javascript' src='scripts/jquery.min.js'></script>
<script type='text/javascript' src='scripts/bootstrap.min.js'></script>
<script type='text/javascript' src='scripts/main.js'></script>


</head>
<body>
	<div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Algebra Thing</h4>
				</div>
				<div class="modal-body">The best way to practice algebra.
				<p> More content goes here... </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Let's Practice Algebra!</button>
				</div>
			</div>
		</div>
	</div>
	<header id="main_header">
		<div id="header_left">
			<span>AlgebraThing</span>
		</div>
		<div id="header_right">
			<ul id="header_list">
				<li>New Equation</li>
				<li>Save</li>
				<li>My Profile</li>
			</ul>
		</div>
	</header>
	<div id="main_content" data-ng-controller="MainController">
		<div id="equation_display">
			<p data-ng-repeat="equation in equations">{{ equation }}</p>
		</div>

		<div id="equation_editor">
			<input type="text" data-ng-model="newEquation"
				placeholder="Enter an equation" id="equation_input">

			<button data-ng-click="submitEquation()" id="go_button">Go</button>
		</div>
		<a id="equation_help" data-content="Content goes here..."> Equation Help </a>
			
		<div id="function_bar">
			<button id="add_function" type="button" class="btn btn-functions" >+</button>
			<button id="subtract_function" type="button" class="btn btn-functions" >-</button>
			<button id="multiply_function" type="button" class="btn btn-functions" >x</button>
			<button id="divide_function" type="button" class="btn btn-functions" >/</button>
			<a id="more_functions" data-content="Function Buttons go here.."> More operations </a>	
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div id="copyright">© JJ Enterprises</div>
		<a id="faq" href=#>FAQ</a> <a id="contact" href=#>Contact</a>
	</div>

</body>
</html>
