a {
	color: #47008d;
	text-decoration: none;
}

html,body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#main_header{
	background: #47008d;
}

#main_content {
	display: flex;
	flex-direction: column;
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	top:50px;
}

.feedback {
	position: absolute;
    width: 350px;
    height: auto;
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    left: -175px;
    margin-left: 50%;
    top: 60px;
    font-size: 13pt;
    text-align: center;
}

.error_message {
	display: block;
}

.header {
	display: block;
	text-align: center;
	font-size: 18pt;
	line-height: 40px;
	margin-bottom: 20px;
}

#navbar {
	background-color: #47008d; 
	
}

#navbar .active > a {
	background-color: #47008d; 
	
}

#navbar .navbar-nav a {
	color: white;
}

#navbar .navbar-brand {
	color: white;
}

.newEquation_link{
	line-height: 50px;
	left: 250px;
}

.save_link {
	line-height: 50px;
	left: 370px;
}

.save_link_ln {
	position: absolute;
	line-height: 50px;
	left: 160px;
}

.save_link_ln:hover {
	text-decoration: none;
}

.logout_link {
	line-height: 50px;
	position: fixed;
	right: 340px;
}

.profile_link {
	line-height: 50px;
	right: 400px;	
}

.welcome_header {
	line-height: 50px;
	right: 500px;
}

.logout_link:hover {
	text-decoration: none;
}

#function_bar .btn {
	width: 40px;
	height: 40px;
	border-radius: 30px; 
}

#big_equation_container{
	display:flex;
	flex-direction:column-reverse;
	margin: 0 auto; 
	flex-basis:200px;
	flex-grow:2;
	position:relative;
}

#equation_bottom_container {
	overflow-y:scroll;
}

#equation_padding {
	flex-basis:100px;
	flex-grow: 1;
}

#equation_editor {
	position: relative;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid grey;
	height: 50px;
	padding: 5px;
}

#equation_input:focus {
	outline: 0;
}

#equation_display, .equation_entry {
	text-align: center; 
	font-size: 24px;
}

#operator_display_side1, .operator_left {
	float: left;
	font-size: 24px;
	color: #47008d;
}

#operator_display_side2, .operator_right{
	float: right;
	font-size: 24px;
	color: #47008d;
	
}

#equation_input {
	border: none;
	width: 340px;
	height: 40px;
	font-size: 20px;
}

#equation_help {
	color: #47008d;
	padding-top: 8px;
	cursor: pointer;
	float:right;
}

#go_button {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border-radius: 0;
	background-color: #47008d;
	border: none;
	color: white;
	font-size: 16pt;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -120px;
}

#footer>div {
	float: left;
}

#faq {
	margin-left: 20px;
}

#contact {
	margin-left: 20px;
}

#function_bar {
	top: 400px;
	left: 580px;
}

#text_box {
	position: absolute;
	width: 350px;
	top: 400px;
	left: 550px;
	border: 2px solid grey;
	height: 50px;
	padding: 5px;
}

#input_box:focus {
	outline: 0;
}

#input_box {
	border: none;
	width: 340px;
	height: 40px;
	font-size: 20px;
}

input.secondary-op {
	border: none;
	width: 40px;
	border-bottom: 1px dotted #47008d;
}

input.secondary-op.ng-invalid {
    color:white;
    background: red;
  }

#go_button_1 {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border-radius: 0;
	background-color: #47008d;
	border: none;
	color: white;
	font-size: 16pt;
}

#radio_buttons {
	position:absolute;
	top: 460px;
	left: 580px;
	
}

#more_functions {
	color: #47008d;
	cursor: pointer;
	float: right;
}

#login_container {
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	left: 130px;
	top: 50px;
	background: #fff;
	border: 1px solid #47008d;
	box-shadow: 2px 2px 3px 1px #ccc;
}

.login_comp {
	display: block;
}

.login_button {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#open_registration_button {
	display: block;
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login_text_box {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid grey;
	text-indent: 4px;
}

.button {
	border:1px solid #2b0055; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px;
	text-decoration:none; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; color: #FFFFFF;
 	background-color: #47008D; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#47008D), to(#47008D));
 	background-image: -webkit-linear-gradient(top, #47008D, #47008D);
 	background-image: -moz-linear-gradient(top, #47008D, #47008D);
 	background-image: -ms-linear-gradient(top, #47008D, #47008D);
 	background-image: -o-linear-gradient(top, #47008D, #47008D);
 	background-image: linear-gradient(to bottom, #47008D, #47008D);
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#47008D, endColorstr=#47008D);
}

.button:hover {
	border:1px solid #140027;
 	background-color: #3D007A; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#3D007A), to(#2d005a));
 	background-image: -webkit-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -moz-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -ms-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -o-linear-gradient(top, #3D007A, #2d005a);
 	background-image: linear-gradient(to bottom, #3D007A, #2d005a);
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3D007A, endColorstr=#2d005a);
}

#register_container {
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	left: 130px;
	top: 50px;
	background: #fff;
	border: 1px solid #47008d;
	box-shadow: 2px 2px 3px 1px #ccc;
}

.register_button {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile_content {
	margin-top: 80px;
	margin-left:140px;
}

.gravatar {
	position: relative;
	margin-top: 20px;
	height: 120px;
	width: 120px;
	left: 80px;
}

#profile_name {
	position: relative;
	top: -110px;
	left: 220px;
	font-weight: bold;
}

#profile_details {
	position: relative;
	left: 0px;
	top: 0px;
}

#faq_content {
	margin-top: 80px;
	margin-left:140px;
}

#contact_content {
	margin-top: 80px;
	margin-left:140px;
}

#saved_equations {
	margin-top: 80px;
	margin-left: 20px;
	position: relative;
	left:540px;
	top: -340px;
	
}

#savedEquations_label {
	position: relative;
	margin-top: 5px;
	left: 100px;
	background-color: #47008d;
	color: white;
	width: 205px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 24px;
}

#lastWorked_label {
	position:relative;
	left: 260px;
	top: -46px;
}

#equations_label {
	position:relative;
	left: 20px;
}

.hidden-submit {
	position: absolute;
	visibility: hidden;
}

#prof_equ_container {
	position: relative;
	width: 450px;
	height: auto;
	margin-left: 22px;
	margin-top: -40px;
}

.prof_equ_wrapper {
	position: relative;
	width: 450px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 4px;
	background: #f5f5f5;
	font-size: 12pt;
}

.prof_equ_left {
	float: left;
	line-height: 50px;
	margin-left: 10px;
}

.prof_equ_right {
	float: right;
	line-height: 50px;
	margin-right: 10px;
}
