a {
	color: #47008d;
	text-decoration: none;
}

html,body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#main_header{
	background: #47008d;
}

#main_content {
	position: relative;
	width: 90%;
	min-width: 850px;
	height: auto;
	margin: 0 auto;
}

.header {
	display: block;
	text-align: center;
	font-size: 18pt;
	line-height: 40px;
	margin-bottom: 20px;
}

#navbar {
	background-color: #47008d; 
	
}

#navbar .active > a {
	background-color: #47008d; 
	
}

#navbar .navbar-nav a {
	color: white;
}

#navbar .navbar-brand {
	color: white;
}

.logout_link {
	line-height: 50px;
	margin-left: 10px;
}

.logout_link:hover {
	text-decoration: none;
}

#function_bar .btn {
	width: 40px;
	height: 40px;
	border-radius: 30px; 
}

#equation_editor {
	position: relative;
	width: 350px;
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid grey;
	height: 50px;
	padding: 5px;
}

#equation_input:focus {
	outline: 0;
}

#equation_display {
	position: relative;
	top: 330px;
	right: 620px;
	direction: rtl;
	font-size: 24px;
}

#operator_display_side1{
	position: absolute;
	top: 35px;
	right: 135px;
	font-size: 24px;
	color: #47008d;
}

#operator_display_side2{
	position: absolute;
	top: 35px;
	right: -28px;
	font-size: 24px;
	color: #47008d;
	
}

#equation_input {
	border: none;
	width: 340px;
	height: 40px;
	font-size: 20px;
}

#equation_help {
	position: absolute;
	color: #47008d;
	padding-top: 8px;
	left: 770px;
	cursor: pointer;
}

#go_button {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border-radius: 0;
	background-color: #47008d;
	border: none;
	color: white;
	font-size: 16pt;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -120px;
}

#footer>div {
	float: left;
}

#faq {
	margin-left: 20px;
}

#contact {
	margin-left: 20px;
}

#function_bar {
	position: absolute;
	top: 400px;
	left: 580px;
}

#more_functions {
	position: absolute;
	top: 60px;
	right: 0px;
	color: #47008d;
	cursor: pointer;
}

#login_container {
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	left: -70px;
	background: #fff;
	border: 1px solid #47008d;
	box-shadow: 2px 2px 3px 1px #ccc;
}

.login_comp {
	display: block;
}

.login_button {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#open_registration_button {
	display: block;
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login_text_box {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid grey;
	text-indent: 4px;
}

.button {
	border:1px solid #2b0055; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px;
	text-decoration:none; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; color: #FFFFFF;
 	background-color: #47008D; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#47008D), to(#47008D));
 	background-image: -webkit-linear-gradient(top, #47008D, #47008D);
 	background-image: -moz-linear-gradient(top, #47008D, #47008D);
 	background-image: -ms-linear-gradient(top, #47008D, #47008D);
 	background-image: -o-linear-gradient(top, #47008D, #47008D);
 	background-image: linear-gradient(to bottom, #47008D, #47008D);
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#47008D, endColorstr=#47008D);
}

.button:hover {
	border:1px solid #140027;
 	background-color: #3D007A; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#3D007A), to(#2d005a));
 	background-image: -webkit-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -moz-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -ms-linear-gradient(top, #3D007A, #2d005a);
 	background-image: -o-linear-gradient(top, #3D007A, #2d005a);
 	background-image: linear-gradient(to bottom, #3D007A, #2d005a);
 	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3D007A, endColorstr=#2d005a);
}

#register_container {
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	left: -70px;
	background: #fff;
	border: 1px solid #47008d;
	box-shadow: 2px 2px 3px 1px #ccc;
}

.register_button {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

