<!doctype html>
<html data-ng-app>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script type='text/javascript' src='scripts/angular.min.js' ></script>
<script type='text/javascript' src='scripts/main.js'></script>
<link type="text/css" rel="stylesheet" href="AlgebraThing.css">

</head>
<body>
	<header id="main_header">
		<div id="header_left">
			<span>AlgebraThing</span>
		</div>
		<div id="header_right">
			<ul id="header_list">
				<li>New Equation</li>
				<li>Save</li>
				<li>My Profile</li>
			</ul>
		</div>
	</header>
	<div id="main_content" data-ng-controller="MainController" >
	 <div id="equation_display">
	 		<p data-ng-repeat="equation in equations">{{ equation }}</p>
	 </div>

		<div id="equation_editor" >
			<input type="text" data-ng-model="newEquation" placeholder="Enter an equation" id="equation_input">
			
			<button data-ng-click="submitEquation()" id="go_button">Go</button>
			
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div id="copyright">© JJ Enterprises</div>
		<a id="faq" href=#>FAQ</a> <a id="contact" href=#>Contact</a>
	</div>

</body>
</html>
