<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<!-- Set the default suffix for JSF pages to .xhtml -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<!-- Disable use of threading for single-threaded environments such as the 
		Google AppEngine. -->
	<context-param>
		<param-name>com.sun.faces.enableThreading</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- ***** Specify JBoss Expression Language Over Default -->
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
	</context-param>

	<!-- ***** Filter Definitions ***** -->
	<filter>
		<display-name>AppEngine Bug 8145 Work Around</display-name>
		<description>
    Suppresses the If Modified Since header until GAE bug 8145 is fixed.
    </description>
		<filter-name>GAEBug8145WorkAround</filter-name>
		<filter-class>com.jazzberryjam.algebra_thing.HttpIfModifiedSinceFix</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GAEBug8145WorkAround</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.jazzberryjam.algebra_thing.AlgebraThing</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>SaveEquationServlet</servlet-name>
	    <servlet-class>com.jazzberryjam.algebra_thing.SaveEquationServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>SaveEquationServlet</servlet-name>
	    <url-pattern>/saveEquation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>Remote API Servlet</display-name>
		<servlet-name>RemoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApiServlet</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Default page to serve -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
