<div id="equation_display">
	<p>{{ equation }}</p>
</div>

<div id="function_bar">
	<button id="add_function" type="button" class="btn btn-functions">+</button>
	<button id="subtract_function" type="button"
		class="btn btn-functions">&#x2212;</button>
	<button id="multiply_function" type="button"
		class="btn btn-functions">&#x00D7;</button>
	<button id="divide_function" type="button" class="btn btn-functions">&#x00F7;</button>
	<a id="more_functions" data-content="Function Buttons go here..">
		More operations </a>
</div>