<div id="big_equation_container" ng-controller="ScrollController">
	<div id="equation_bottom_container" scroll-glue ng-model="glued">
		<div class="equation_entry" ng-repeat="entry in equation.history">
		<img id="revert" ng-click="reverseStep(entry)" src="images/revert.png" />
			<math-output equation="entry.equation"></math-output>
			<div class="operator_display clearfix">
				<span class='operator_left'>{{ entry.operator }}{{ entry.operatorValue }}
				</span>
				<span class='operator_right'>{{ entry.operator }}{{ entry.operatorValue }}
				</span>
			</div>
		</div>
		<div id="equation_display">
			<math-output equation="equation.value"></math-output>
			<div class="operator_display clearfix">
				<form ng-submit="performOperation()">
					<span id='operator_display_side1'>{{ operator }}
						<input ng-hide="inputHidden" class="secondary-op" type="text" ng-model="opValue" ng-pattern="/^(\d|[a-z])+$/i" auto-focus>
					</span>
					<span id='operator_display_side2'>{{ operator }}
						<input ng-hide="inputHidden" class="secondary-op" type="text" ng-model="opValue" ng-pattern="/^(\d|[a-z])+$/i">
					</span>
					<input type="submit" class="hidden-submit">
				</form>
			</div>

		</div>

		<div data-ng-hide="display" id="function_bar">
			<button ng-click="setValue('add')" id="add_function" type="button"
				class="btn btn-functions">+</button>
			<button ng-click="setValue('subtract')" id="subtract_function"
				type="button" class="btn btn-functions">&#x2212;</button>
			<button ng-click="setValue('multiply')" id="multiply_function"
				type="button" class="btn btn-functions">&#x00D7;</button>
			<button ng-click="setValue('divide')" id="divide_function"
				type="button" class="btn btn-functions">&#x00F7;</button>
		</div>
		<button id="simplify_button" class="btn-functions" ng-click="simplify()">Simplify!</button>

	</div>
</div>
<div id="equation_padding"></div>
