<div>
	<div class="modal-dialog">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Algebra Thing</h4>
			</div>
			<div class="modal-body">
				<p>AlgebraThing is the best way to practice algebra! Enter your equation. Select an operator. Enter
				a number. Repeat!<p>
				<p>AlgebraThing will track your progress as you simplify your way to the top of 
				your class!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Let's
					Practice Algebra!</button>
			</div>

	</div>
</div>