<div id="big_equation_container">
	<div id="equation_bottom_container">
<div id="equation_editor">
	<form ng-submit="submitEquation()">
		<input type="text" data-ng-model="newEquation"
			placeholder="Enter an equation" id="equation_input">
	
		<button data-ng-click="submitEquation()" id="go_button">Go</button>
	</form>
</div>
<a id="equation_help" popover-title="Help" popover-placement="right" popover="Enter an equation. Don't forget to use parentheses and include the = sign." popover-trigger="click"> Equation
	Help </a>
	</div>
</div>
<div id="equation_padding">
</div>